<div class="row">
  <aside class="col-xs-12 col-md-4">
    <%= render 'show_aside' %>
    <%# <% if !current_user?(@user) && logged_in? %>
    <% if false %>
      <section class="message_box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </section>

      <!-- メッセージの合計の高さを計算し、スクロール開始位置を一番下に指定する -->
      <script type="text/javascript">
        var height = 0;
        $("div.message").each( function() {
          height += ($(this).height());
        });
        $('section.message_box').scrollTop(height);
      </script>

      <div class="message_form">
        <%= render 'messages/message_form', {from_user: current_user,
                                             to_user: @user,
                                             room_id: @room_id } %>
      </div>
    <% end %>
  </aside>
  <div class="col-xs-12 col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>

      <div class="search">
        <p>content search</p>
        <%= form_tag(user_path, :method => 'get' ) do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', :name => nil %>
        <% end %>
      </div>

      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $('#user_thumb').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
