<div class="row">
  <aside class="col-xs-12 col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.thumb.thumb.url, class: "thumb" if @user.thumb? %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="biog">
      <%= render 'shared/biog' %>
      <% if @user == current_user %>
        <span>
          <%= link_to "edit my profile", edit_user_path(current_user) %>
        </span>
        <span class="thumb">
          <%= form_for(@user) do |f| %>
            <%= f.hidden_field :name, :value => @user.name %>
            <%= f.hidden_field :email, :value => @user.email %>

            <%= f.file_field :thumb, accept: 'image/jpeg,image/gif,image/png' %>
            <%= f.submit "Change Thumbnail", class: "btn btn-primary" %>
          <% end %>
        </span>
      <% end %>
    </section>
  </aside>
  <div class="col-xs-12 col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>

      <div class="search">
        <p>content search</p>
        <%= form_tag(user_path, :method => 'get' ) do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', :name => nil %>
        <% end %>
      </div>

      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $('#user_thumb').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
